Q1)Python program to print all odd numbers in a list.

In [24]:
list1 = []
for i in range(1,6):
  list1.append(int(input("Enter: ")))
  if i % 2 !=0:
    print("Odd Number")
  else:
    print("This Is Not Odd Number")
print(list1)

Enter: 1
Odd Number
Enter: 2
This Is Not Odd Number
Enter: 3
Odd Number
Enter: 4
This Is Not Odd Number
Enter: 5
Odd Number
[1, 2, 3, 4, 5]

Q2)Python program to find the sum of list element.

In [ ]:
numbers = []
for i in range(0,5):
  numbers.append(int(input("Enter:")))
print(numbers)
print("Sum of all numbers are:",sum(numbers))

Enter:1
Enter:45
Enter:67
Enter:89
Enter:34
[1, 45, 67, 89, 34]
Sum of all numbers are: 236

Q3)Python program to reverse a list in two ways.

In [6]:
cars = []
for i in range(0,5):
  cars.append(input("Enter:"))

print("Before Reverse")
print(cars)
print("After Reverse")
cars.sort(reverse=True)
print(cars)
print("Again Reverse")
cars = cars[::-1] 
print(cars)

Enter:Honda
Enter:Audi
Enter:Suzuki
Enter:Civic
Enter:Toyota
Before Reverse
['Honda', 'Audi', 'Suzuki', 'Civic', 'Toyota']
After Reverse
['Toyota', 'Suzuki', 'Honda', 'Civic', 'Audi']
Again Reverse
['Audi', 'Civic', 'Honda', 'Suzuki', 'Toyota']

Q4)Python program to find the top two maximum numbers in a list.

In [32]:
numbers = []
for i in range(5):
  numbers.append(int(input("Enter:")))
numbers.sort()
print(numbers[-1])
print(numbers[-2])

print(numbers)

Enter:4
Enter:8
Enter:2
Enter:1
Enter:5
8
5
[1, 2, 4, 5, 8]

Q5) Write a program in Python to find the second highest
number in an integer list.

In [ ]:
Integer =[]
for i in range(0,5):
    Integer.append(int(input("Enter Number:")))
Integer.sort()
print("Second largest element is:",Integer[-2])

Enter Number:34
Enter Number:23
Enter Number:5
Enter Number:50
Enter Number:45
Second largest element is: 45

Q6) Python program to sort characters in descending order.

In [9]:
str1 = input("Enter The Name:")
print(str1[::-1])

Enter The Name:Hassaan
naassaH

Q7) Python program to remove repeated characters from a string.

In [ ]:
str1 = input("Enter Any String:")
''.join(sorted(set(str1), key=str1.index))

Enter Any String:exercise

'exrcis'

Q8) Python program to check if a given character is a vowel or consonant.

In [ ]:
str1 = input("Enter a alphabet : ")[0]
if str1.lower() in "aeiou":
    print(str1, "is a vowel.")
else :
    print(str1, "is a consonant.")

Enter a alphabet : a
a is a vowel.

Q9) Python Program to calculate factorial.

In [ ]:
num = int(input("Enter a number: "))    
factorial = 1    
if num < 0:    
   print(" Factorial does not exist for negative numbers")    
elif num == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,num + 1):    
       factorial = factorial*i    
   print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

Q10) Python Program to merge two lists.

In [ ]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
list3 = list1+list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]